h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

.formContainer {
  border: 2px solid grey;
  width: 50%;
  margin: auto;
}

.formFlex {
  display: flex;
  padding-bottom: 15px;
}

label {
  min-width: 120px;
  padding-right: 10px;
  margin-left: 20px;
}

.name {
  text-align: end;
}

button {
  margin-left: 165px;
  margin-bottom: 20px;
  margin-top: 15px;
}

h3 {
  font-size: 30px;
}

li {
  list-style: none;
  border-bottom: 1px solid black;
}

.removeButton {
  margin-left: 40px;
}

h3, p {
  margin-left: 30px;
}

